@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*,*::after,*::before{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,body{
  width: 100%;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}
.container{
  min-height: 100vh;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container{
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  background-color: white;
  width: 25%;
  height: 80vh;
  text-align: center;
  border-radius: 5%;
    box-shadow: 1px 1px 7px 1px;
  
}
h3{
  display: block;
  background-color: coral;
  margin: 1rem 0;
  padding: 0.5rem;
  color: white;
}
.addItem{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 1rem 0.5rem;
}
.display{
  display: flex;
  flex-direction: column;
}
.content{
  display: flex;
  flex-direction: row;
  margin: 0.5rem 1rem;
  
}
.btn-add{
  border: none;
  text-align: center;
  background-color: white;
  margin-left: 0.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  transition: all 0.4s;
}
.btn-add:hover{
  background-color: rgb(16, 128, 16);
  color: white;
}
.btn-add:focus{
  outline: none;
}
input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(71, 71, 218);
  padding: 1px 3px;
  font-size: medium;
  width: 70%;
}
input:focus{
  outline: none;
}

.btn-cross{
  margin-right: 1rem;
  border: none;
  background-color: white;
  border-radius: 50%;
  padding: 0.3rem;
  transition: all .4s;
  
}
.btn-cross:hover{
  background-color: rgb(235, 74, 74);
  color: white;
}
@media screen and (max-width:990px){
  .todo-container{
    width: 35%;
  }
  
}

@media screen and (max-width:768px){
  .todo-container{
    width: 45%;
  }
  
}
@media screen and (max-width:385px){
  .addItem{
    flex-wrap: wrap;
  }
  .btn-add{
    margin-top: 0.5rem;
  }
  
}
@media screen and (max-width:250px){
  .content{
    flex-wrap: wrap;
  }
  
}


.alert{
  color:rgb(235, 74, 74);
}